*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:15px 30px;
    font-size:17px;
    padding:10px;
}
.container{
    background-color: aqua;
    padding:5px 15px 20px;
    border: 2px solid grey;
    border-radius:4px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="Address"],
select,
textarea{
    width:100%;
    padding:12px;
    border:2px solid palevioletred;
    border-radius: 5px;
    margin: 5px;
}
fieldset{
    background-color: yellowgreen;
}
h1{
    text-align: center;
    text-decoration: underline;
}
input[type="submit"]{
    background-color:red;
    color:whitesmoke;
    padding:12px 20px;
    border: none;
    border-radius:8px;
    cursor:pointer;
}
input[type="submit"]:hover{
    background-color: palevioletred;
    display: block;
    margin: auto;
}
input[type="Address"]{
    width:100%;
    padding:12px;
    border:2px solid palevioletred;
    border-radius: 5px;
    margin: 5px;
}
